---
nodes:
  - name: puppet
    aliases: "consul.gaggl.vagrant foreman.gaggl.vagrant puppet"
    box: bento/centos-7.4
    cpus: 2
    memory: 4096
    hostname: puppet.gaggl.vagrant
    ip: 192.168.28.42
    synced_folders:
      - src: 'production'
        dst: '/etc/puppetlabs/code/environments/production'
  - name: logs
    aliases: "kibana.gaggl.vagrant elk.gaggl.vagrant"
    box: bento/centos-7.4
    hostname: logs.gaggl.vagrant
    ip: 192.168.28.43
    memory: 2048
    provision_type: puppet_agent
    puppetmaster: puppet.gaggl.vagrant
  - name: metrics
    aliases: "grafana.gaggl.vagrant prometheus.gaggl.vagrant"
    box: bento/centos-7.4
    hostname: metrics.gaggl.vagrant
    ip: 192.168.28.44
    provision_type: puppet_agent
    puppetmaster: puppet.gaggl.vagrant
  - name: alerts
    aliases: "icinga.gaggl.vagrant"
    box: bento/centos-7.4
    hostname: alerts.gaggl.vagrant
    ip: 192.168.28.45
    provision_type: puppet_agent
    puppetmaster: puppet.gaggl.vagrant
  - name: dc1
    aliases: "dc1.gaggl.vagrant"
    box: bento/centos-7.4
    hostname: node1.gaggl.vagrant
    ip: 192.168.28.46
    provision_type: puppet_agent
    puppetmaster: puppet.gaggl.vagrant
  - name: dc2
    aliases: "dc2.gaggl.vagrant"
    box: bento/centos-7.4
    hostname: node2.gaggl.vagrant
    ip: 192.168.28.47
    provision_type: puppet_agent
    puppetmaster: puppet.gaggl.vagrant
  - name: proxy
    aliases: "www.gaggl.vagrant"
    box: bento/centos-7.4
    hostname: proxy.gaggl.vagrant
    ip: 192.168.28.48
    provision_type: puppet_agent
    puppetmaster: puppet.gaggl.vagrant
virtualbox_group: '/Vagrant/gaggl.io'
