---
required_plugins:
    - vagrant-hostmanager
    - vagrant-puppet-install
nodes:
  - name: mgmt
    aliases: "alerts.gaggl.vagrant consul.gaggl.vagrant gamemaster.gaggl.vagrant grafana.gaggl.vagrant ingress.gaggl.vagrant logs.gaggl.vagrant mail.gaggl.vagrant metrics.gaggl.vagrant nomad.gaggl.vagrant traces.gaggl.vagrant vault.gaggl.vagrant webapp.gaggl.vagrant"
    box: bento/centos-7.9
    hostname: mgmt.gaggl.vagrant
    ip: 192.168.28.40
    memory: 2560
    synced_folders:
      - src: 'production'
        dst: '/etc/puppetlabs/code/environments/production'
  - name: dc1
    box: bento/centos-7.9
    hostname: dc1.gaggl.vagrant
    ip: 192.168.28.50
    synced_folders:
      - src: 'production'
        dst: '/etc/puppetlabs/code/environments/production'
  - name: dc2
    box: bento/centos-7.9
    hostname: dc2.gaggl.vagrant
    ip: 192.168.28.60
    synced_folders:
      - src: 'production'
        dst: '/etc/puppetlabs/code/environments/production'
puppet_version: 6.21.1
virtualbox_group: '/gaggl.io'
