---
required_plugins:
    - vagrant-hostmanager
    - vagrant-puppet-install
nodes:
  - name: mgmt
    aliases: "alerts.gaggl.vagrant consul.gaggl.vagrant gamemaster.gaggl.vagrant grafana.gaggl.vagrant ingress.gaggl.vagrant logs.gaggl.vagrant mail.gaggl.vagrant metrics.gaggl.vagrant nomad.gaggl.vagrant status.gaggl.vagrant traces.gaggl.vagrant vault.gaggl.vagrant webapp.gaggl.vagrant"
    box: bento/centos-7.9
    hostname: mgmt.gaggl.vagrant
    ip: 192.168.28.40
    memory: 2560
    synced_folders:
      - src: 'production'
        dst: '/etc/puppetlabs/code/environments/production'
    provision_shell: |
        export VAULT_ADDR=http://192.168.28.40:8200
        /usr/bin/vault operator init -key-shares=1 -key-threshold=1 | tee vault.keys
        VAULT_TOKEN=$(grep '^Initial' vault.keys | awk '{print $4}')
        VAULT_KEY=$(grep '^Unseal Key 1:' vault.keys | awk '{print $4}')
        export VAULT_TOKEN
        /usr/bin/vault operator unseal "$VAULT_KEY"
        echo $VAULT_TOKEN > /etc/vault_token.txt
        echo $VAULT_KEY > /etc/vault_key.txt
  - name: dc1
    box: bento/centos-7.9
    hostname: dc1.gaggl.vagrant
    ip: 192.168.28.50
    synced_folders:
      - src: 'production'
        dst: '/etc/puppetlabs/code/environments/production'
  - name: dc2
    box: bento/centos-7.9
    hostname: dc2.gaggl.vagrant
    ip: 192.168.28.60
    synced_folders:
      - src: 'production'
        dst: '/etc/puppetlabs/code/environments/production'
puppet_version: 6.21.1
virtualbox_group: '/gaggl.io'
